/* form */
.form {
  display: grid;
  gap: 15px;
}

.form__field {
  display: block;
  position: relative;
  height: 30px;
  border-bottom: 1px solid #aaa;
}

.form__field input {
  display: block;
  width: 100%;
  padding: 5px;
}

.form__field input::placeholder {
  font-size: 16px;
  color: #aaa;
}

.form__field span {
  position: absolute;
  left: 5px;
  bottom: 4px;
  z-index: 0;
  font-size: 16px;
  color: #aaa;
}

.form__field select {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px;
  z-index: 1;
}

.form__checkbox {
  display: flex;
  gap: 5px;
  align-items: center;
  }

.form__checkbox input::before {
  display: block;
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 2px;
  border: 1px solid #aaa;
}

.form__checkbox a {
  text-decoration: underline;
}

.form__checkbox input:checked::before {
  background-image: url("/assets/icons/check.svg");
  background-position: center;
  border-color: #00a1ff;
 }

.form__submit {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #222;
  border-radius: 30px;
}
