/* nav */
.nav {
  position: fixed;
  top: 51px;
  left: 0;
  right: 0;
  transform: translateY(-150%);
  transition: transform 0.5s ease;
  z-index: 10000;
  background: var(--bg-color-primary);

  &.active {
    transform: translateY(0);
  }

  &__item {
    padding: 24px 15px;
    font-size: 24px;
    border-bottom: 1px solid var(--border-color-primary);
  }
}
