/* column */
.column {
  img {
    width: 40px;
    height: 40px;
  }

  &__title {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
  }

  &__list {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    margin-top: 20px;
  }

  &__item {
    margin-top: 10px;
  }
}
