/* cashback */
.cashback {
  padding: 30px 15px;
}

.cashback__wrapper {
  display: flex;
  flex-direction: column;
}

/* .cashback__text-block {} */

.cashback__title {
  font-size: 26px;
  font-weight: 700;
}

.cashback__copy:first-of-type {
  margin-top: 20px;
}

.cashback__copy {
  margin-top: 10px;
}

.cashback__button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 14px 72px;
  border: 1px solid #aaa;
  border-radius: 30px;
}
