/* download */
@import '../utilis/mixins.scss';

.download {
  padding: $padding-section-xs;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: $gap-large;
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
  }

  &__copy {
    margin-top: 20px;
  }

  &__links {
    margin-top: 20px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: $gap-small;
  }

  &__link {
    display: block;
    width: 150px;
    height: 44px;
  }

  &__image-block {
    height: 72vw;
    border: 1px solid var(--border-color-primary);
    border-radius: $border-radius-primary;
    overflow: hidden;

    & img {
      display: block;
      height: 100%;
      object-fit: cover;
    }
  }
}
