/* header */
@import '../utilis/mixins.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--bg-color-primary);
  border-bottom: 1px solid var(--border-color-primary);

  &__wrapper {
    height: 50px;
    padding: 0 15px;
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 77px;
    height: 30px;

    svg {
      height: 100%;
      path {
        fill: var(--color-icon);
      }
    }
  }

  &__actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__lang {
    position: relative;
    display: flex;
    align-items: center;
    width: 50px;
    height: 30px;
    border: 1px solid var(--border-color-secondary);
    border-radius: 4px;
    overflow: hidden;

    svg {
      position: absolute;
      z-index: -1;
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
      width: 9px;
      height: 6px;
      path {
        fill: var(--color-icon);
      }
    }

  select {
    padding-left: 8px;
    height: 100%;
    width: 100%;
    color: var(--color-primary);
  }
  }

  &__theme {
    width: 26px;
    height: 26px;
  }
}
