/* modal */
@import '../utilis/mixins.scss';

.modal {
  display: none;
  background: var(--bg-color-modal-secondary);
  color: var(--color-secondary);

  &.active {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__body {
    position: relative;
    width: calc(100vw - 30px);
    padding: 30px 20px;
    display: grid;
    gap: 20px;
    background: var(--bg-color-modal-primary);
    border-radius: 5px;
  }

  &__close {
    position: absolute;
    right: -5px;
    top: -34px;
    height: 34px;
    width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 0;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
  }
}
